html {
  min-width: 320px;

  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline-color: var(--color-focus);
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 1px;
}

@media only screen and (min-width: 38em) {

  .text-left-right {
    text-align: right;
  }

}
