header {
  border-bottom: 1px solid #f5f5f5;
}

header a:focus {
  outline-offset: -7px;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #169895;
}

@media only screen and (min-width: 25em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
