<ul itemref="data-creator" itemscope itemtype="http://schema.org/CreativeWork" class="wrapper list-group">
  {% if page.piece-1 %}
    <li class="push-1-2">
      <div class="embed embed-16by9">
        <img itemprop="image" class="embed-item" src="{{page.piece-1}}" alt="{{page.piece-1-alt}}">
      </div>
    </li>
  {% endif %}
  {% if page.piece-2 %}
    <li class="push-1-2">
      <div class="embed embed-16by9">
        <img itemprop="image" class="embed-item" src="{{page.piece-2}}" alt="{{page.piece-2-alt}}">
      </div>
    </li>
  {% endif %}
  {% if page.piece-3 %}
    <li class="push-1-2">
      <div class="embed embed-16by9">
        <img itemprop="image" class="embed-item" src="{{page.piece-3}}" alt="{{page.piece-3-alt}}">
      </div>
    </li>
  {% endif %}
</ul>
