<ol class="designers grid list-group l-gutter" id="designers">
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
  {% include designer-unit.html name="Jonathan A." %}
</ol>
