<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.url == '/' %}
      Reboot · 2018 Algonquin Design Grads
    {% else %}
      {{page.name}} · Reboot
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="Reboot">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:url" content="http://2018.grads.algonquindesign.ca/">
  <meta property="og:image" content="https://grads.images.algonquindesign.ca/2018/images-other/og-image.jpg">
  <meta property="og:image:secure_url" content="https://grads.images.algonquindesign.ca/2018/images-other/og-image.jpg">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Reboot">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="Reboot">
  <meta name="twitter:url" content="http://2018.grads.algonquindesign.ca/">
  <meta name="twitter:description" content="The 2018 Algonquin Design Grad website.">
  <meta name="twitter:image" content="https://grads.images.algonquindesign.ca/2018/images-other/og-image.jpg">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="https://grads.images.algonquindesign.ca/2018/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://grads.images.algonquindesign.ca/2018/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://grads.images.algonquindesign.ca/2018/icons/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#343795">
  <meta name="theme-color" content="#10b2ac">
</head>
<body>

  <header class="header grid grid-stretch wrapper island-1-2" role="banner">
    <div class="unit xs-1 s-1-4 logo text-center">
      <a class="ib island-1-2" href="{{site.baseurl}}/" rel="home" aria-label="Reboot">
        {% if page.url == '/' %}
          <h1 class="push-0 micro">
            <i class="icon i-32"><svg class="purple"><use xlink:href="{{site.baseurl}}/images/icons.svg#reboot" /></svg></i>
          </h1>
        {% else %}
          <strong class="push-0 micro block">
            <i class="icon i-32"><svg class="purple"><use xlink:href="{{site.baseurl}}/images/icons.svg#reboot" /></svg></i>
          </strong>
        {% endif %}
      </a>
    </div>
    {% if page.url == '/' %}
      <nav class="unit xs-1 s-3-4 nav text-center" role="navigation">
        <ul class="list-group-inline h-1 push-0 text-upper bold micro teal">
          <li class="h-1 push-r-1-2"><a class="ib h-1 island-1-2 teal" href="#about" aria-label="About"><span>About</span></a></li>
          <li class="h-1 push-r-1-2"><a class="ib h-1 island-1-2 teal" href="#designers" aria-label="Designers"><span>Designers</span></a></li>
          <li class="h-1"><a class="ib h-1 island-1-2 teal" href="#profs" aria-label="Professors"><span>Profs</span></a></li>
        </ul>
      </nav>
    {% else %}
      <nav class="unit xs-1 s-3-4 nav text-center" role="navigation">
        <ul class="list-group-inline h-1 push-0 text-upper bold micro teal">
          <li class="h-1 push-r-1-2"><a class="ib h-1 island-1-2 teal" href="{% if page.url == '/designers/andreane-labrosse/' %}{{site.baseurl}}/designers/victoria-doherty/{% else %}{{site.baseurl}}/{{page.previous.url}}{% endif %}" aria-label="Previous"><span>Prev</span></a></li>
          <li class="h-1 push-r-1-2"><a class="ib h-1 island-1-2 teal" href="{{site.baseurl}}/" aria-label="Home"><span>Home</span></a></li>
          <li class="h-1"><a class="ib h-1 island-1-2 teal" href="{% if page.url == '/designers/victoria-doherty/' %}{{site.baseurl}}/designers/andreane-labrosse/{% else %}{{site.baseurl}}/{{page.next.url}}{% endif %}" aria-label="Next"><span>Next</span></a></li>
        </ul>
      </nav>
    {% endif %}
  </header>

  <main class="wrapper" role="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/modernizr.custom.97074.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/jquery.hoverdir.js"></script>
  <script type="text/javascript">
    $(function() {

      $(' #designers-list > li ').each( function() { $(this).hoverdir(); } );

    });
  </script>
  <script type="text/javascript" src="{{site.baseurl}}/js/filter.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/pixelate.js"></script>
</body>
</html>
